<!DOCTYPE html>
<html>
<head>
  <title>SocialIntegration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if session[:connect_id].present?%>  
<%= Connect.find(session[:connect_id]).name %>
<% else %>
<%= link_to "Sign in with Twitter", '/auth/twitter' %>
<% end %>
<%= yield %>

</body>
</html>
